/* menu completo */
header {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Margen a la izquierda */
    margin-right: 20px; /* Margen a la derecha */
    margin-bottom: 50px;
    box-shadow: 20px 15px 20px black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav {
    flex-grow: 1; /* El navbar ocupará todo el espacio restante */
}


/* navbar color */
.grey {
    background-color: #2B2B2B;
}

.white {
    color: #E6E6DD !important;
}

#home-link {
    color: #E6E6DD;
}

/* estilo letra menu */
.menu-hover {
    color: #E6E6DD;
}

 /* hover */
.menu-hover:hover{
    background-color: gray;
}

/* colo de fondo */
body {
    background-color: #E6E6DD;
}

body p {
    /* Flex */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

body h3 {
    /* Flex */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
/* menu de navegacion */
nav {
    font-size: 25px;
}
/* titulo principal */
h1 {
    font-size: 50px; 
    color: #2B2B2B;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

main p {
    text-align: center;
}

section {
    text-align: left;
    
}
/* titulos de las paginas scundarias */
 h2 {
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
 }
 /* titulos secundarios */
 h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
 }

 footer {
    text-align: center;
 }

 .navbar-toggler-icon {
    color: #E6E6DD; /* Cambia el color del icono del botón (no funciona) */
}