@charset "UTF-8";
.black {
  background-color: #050C07;
}

.grey {
  background-color: rgb(82, 82, 82);
}

.menu-hover {
  color: #D01B2A;
  font-size: 20px;
  background-color: rgb(82, 82, 82);
}

.menu-hover:hover {
  background-color: gray;
}

.menu-burger {
  background-color: #E6E6DD; /* Cambia el color del icono del botón  */
}

.nav-link.active:hover {
  color: #D01B2A !important; /* Color al pasar el mouse */
}

#home-link {
  color: #E6E6DD;
}

.nav-link {
  color: #E6E6DD; /* Color de texto */
  transition: color 0.3s ease; /* Transición suave para el color */
}
.nav-link:hover {
  color: #D01B2A; /* Cambiar color al pasar el mouse */
}

.container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos de la izquierda */
  justify-content: center; /* Centra horizontalmente */
}

.textos {
  flex: 1; /* Ocupa todo el espacio disponible */
  text-align: left; /* Alinea el texto a la izquierda */
  padding-right: 20px; /* Espacio a la derecha para separar del lado derecho */
  text-align: center;
}

main .textos h1 span {
  display: block;
}

.imagen {
  max-width: 50%; /* Ancho máximo para la imagen */
  flex-shrink: 0; /* Evita que la imagen se reduzca más allá de su tamaño */
}

.imagen img {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: auto; /* Altura automática */
}

.boton {
  display: flex;
  justify-content: center; /* Alinea los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones */
}

main .textos .boton {
  background-color: #2B2B2B;
  color: #E6E6DD;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 10px 20px black;
}

/* mq tablet */
@media screen and (min-width: 600px) {
  section img {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  body {
    background-color: #D01B2A;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6DD;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 20px; /* Margen a la izquierda */
  margin-right: 20px; /* Margen a la derecha */
  margin-bottom: 50px;
  box-shadow: 20px 15px 20px black;
}
header nav {
  flex-grow: 1; /* El navbar ocupará todo el espacio restante */
  font-size: 35px;
}
header nav button {
  margin-right: 50px;
}
header nav ul {
  list-style: none; /* Eliminar viñetas de las listas */
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

/* Estilos de main */
main {
  margin: 20px;
}
main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

section {
  margin: 50px;
}
section .image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}
section .image-grid div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .image-grid div h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
section .image-grid div p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  section .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  section .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
  }
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 70px;
}

/*# sourceMappingURL=style.css.map */
