//estilos hatml
@import "html/productos";
//variables
@import "utilidades/variables";
//mixting
@import "utilidades/mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6E6DD;

}

header {
    @include flex;
    margin-left: 20px; /* Margen a la izquierda */
    margin-right: 20px; /* Margen a la derecha */
    margin-bottom: 50px;
    box-shadow: 20px 15px 20px black;
    nav {
        flex-grow: 1; /* El navbar ocupará todo el espacio restante */
        font-size: 35px;
        button {
            margin-right: 50px;
        }
        ul {
            list-style: none; /* Eliminar viñetas de las listas */
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px; /* Espaciado entre elementos de la lista */
            }
        }
        

    }
    
}

    /* Estilos de main */
    main {
        margin: 20px ;
        h1{
            @include flex
        }
       h2{
        @include flex
       }
       p{
        @include flex
       }
        
    }

    section {
        margin: 50px;
      
        .image-grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(8, 1fr); // Cambiar a 1fr para que las filas tengan la misma altura
      
          div {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
      
            h5 {
              @include flex;
              margin-top: 30px;
            }
      
            p {
              @include flex;
              margin-bottom: 40px;
            }
          }
      
          @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr); // Dos columnas en pantallas de al menos 600px
            grid-template-rows: repeat(4, 1fr); // Cuatro filas en pantallas de al menos 600px
            gap: 50px;
          }
          @media screen and (min-width: 1024px){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4,1fr);
            gap: 50px;
          }
        }
      }
    


    footer {
        position: fixed;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 70px;
    }