/* menu completo */
header {
    text-align:start
}
/* navbar color */
.grey {
    background-color: gray;
}
/* estilo letra menu */
.dropdown-menu.grey .dropdown-item.grey {
    color: black ;
    text-decoration: none ;
    font-style: normal ;
}
 /* hover */
.menu-hover:hover{
    background-color: gray;
}

/* colo de fondo */
body {
    background-color: #E6E6DD;
}

body p {
    /* Flex */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

body h3 {
    /* Flex */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
/* menu de navegacion */
nav {
    font-size: 25px;
}
/* titulo principal */
h1 {
    font-size: 50px; 
    color: #2B2B2B;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

main p {
    text-align: center;
}

section {
    text-align: left;
    
}
/* titulos de las paginas scundarias */
 h2 {
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
 }
 /* titulos secundarios */
 h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
 }

 footer {
    text-align: center;
 }