/* menu completo */
header {
    text-align:start
}
/* navbar color */
.grey {
    background-color: gray;
}
/* estilo letra menu */
.dropdown-menu.grey .dropdown-item.grey {
    color: black ;
    text-decoration: none ;
    font-style: normal ;
}
 /* hover */
.menu-hover:hover{
    background-color: gray;
}

/* menu de navegacion */
nav {
    font-size: 25px;
}
/* titulo principal */
h1 {
    font-size: 50px; 
    color: #2B2B2B;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

main {
    background-color: #E6E6DD;
    text-align: center;
}

section {
    background-color: #E6E6DD;
    text-align: left;
}
/* titulos de las paginas scundarias */
 h2 {
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
 }
 /* titulos secundarios */
 h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
 }
