//fondo menu
.black {
    background-color: #050C07;
}
//Fondo hover
.grey {
    background-color: rgb(82, 82, 82);
}

//estilo letra menu
.menu-hover {
    color: #D01B2A;
    font-size: 20px;
    background-color: rgb(82, 82, 82);
}
//hover cuando paso el mouse por arriba
.menu-hover:hover{
    background-color: gray;
}

#menu-burger {
    color: #E6E6DD; /* Cambia el color del icono del botón (no funciona) */
}

.nav-link.active:hover {
    color: #D01B2A !important; /* Color al pasar el mouse */
}

#home-link {
    color: #E6E6DD;
}

.nav-link {
    color: #E6E6DD; /* Color de texto */
    transition: color 0.3s ease; /* Transición suave para el color */
    &:hover {
        color: #D01B2A; /* Cambiar color al pasar el mouse */
    }
}



