//fondo menu
.black {
    background-color: #050C07;
}
//Fondo hover
.grey {
    background-color: rgb(82, 82, 82);
}

.white {
    
    color: #FAFAFA;
}


//estilo letra menu
.menu-selected {
    color: #D01B2A !important;
    font-size: 50px;
}
//hover cuando paso el mouse por arriba
.menu-hover:hover{
    background-color: gray;
}

.menu-burger {
    background-color: #E6E6DD ; /* Cambia el color del icono del botón (no funciona) */
}

.nav-link:hover {
    color: #D01B2A !important; /* Color al pasar el mouse */
}

#menu-link {
    color: #E6E6DD;
}

.nav-link {
    color: #E6E6DD; /* Color de texto */
    transition: color 0.3s ease; /* Transición suave para el color */
}


.textos {
    flex: 1; /* Ocupa todo el espacio disponible */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-right: 20px; /* Espacio a la derecha para separar del lado derecho */
    text-align: center;
}
main .textos h1 span{
    display: block;
}

main p{
    font-size: 20px;
    text-align: center;
}

h1{
    font-size: 60px;
    font-weight: bolder;
}

h2{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

span{
    color: #D01B2A;
}

.imagen {
    max-width: 50%; /* Ancho máximo para la imagen */
    flex-shrink: 0; /* Evita que la imagen se reduzca más allá de su tamaño */
}

.imagen img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Altura automática */
}


.boton {
    display: flex;
    justify-content: center; /* Alinea los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

.estilo-boton{
   text-decoration: none;
   color: #E6E6DD;
}

.estilo-boton:hover{
    color: #D01B2A;
    font-size: 25px;
}

 main .textos .boton{
    background-color: #2B2B2B;
    color: #E6E6DD;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 10px 20px black;
}

.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    
    margin: 0px 20x;
    margin-right: 25%;
    margin-left: 25%;
    @media screen and (max-width: 700px){
      
        margin: 0px 20px 30px;
    }
    @media screen and (max-width: 1340px){
        
        margin: 0px 20px 30px;
    }

    

  }
  
  .carrusel img {
    width: 100%;
    height: 500px; /* Altura fija para todas las imágenes */
    object-fit: cover;
  }

  /* Suavizar la transición */
.carrusel .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1s; /* Ajusta el tiempo de transición */
}

.carrusel .carousel-fade .carousel-item.active {
    opacity: 1;
}

  .carousel-caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad del texto */
    padding: 10px;
    border-radius: 10px;
    width: 80%;
  }
  
  .carousel-caption h5 {
    font-size: 24px;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid red; 
  }
  
  .carousel-caption p {
    font-size: 16px;
    margin: 5px 0 0;
  }




/* Aplica Amatic SC a los títulos */

h1, h2{
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
}

/* Aplica Inter a los botones y elementos específicos */
button, .btn, .navbar, .footer {
    font-family: 'Inter', sans-serif;
}

/* Estilo para todas las imágenes del documento */
img {
    border-radius: 25px; /* Ajusta el valor según el redondeo deseado */
}

